@import '~antd/dist/antd.css';
.login a{
    color:#888;
}
.login {
    height:46px;
    line-height: 46px;
    margin-left:20px;
}
.lis {
    border:0;
}

.lis .li{
    border:0;
    color:#888;
    padding:0 10px;
    font-size:14px;
}

.lis .li:hover{
    border:0;
}
.lis .li a:hover{
    color:#118eea;
}

.logoRow{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:6px;
}

.logo img {
    width:30px;
}

.spaceRight{
    margin-right: 80px
}

/*轮播图开始*/

.carousel{
    width:100%;
    height:400px;
    overflow: hidden;
    position:relative;
}
.carousel .banner{
    width:100%;
}

.carousel .dotsClass{
    position: absolute;
    width:100%;
    text-align: center;
    bottom:10px;
    display: inline-block;
}
.carousel .dotsClass li{
    position: relative;
    display: inline-block;
    cursor: pointer;
   
}
.carousel .dotsClass li button{
    background: 0 0;
    display:block;
    cursor: pointer;
    outline:0;
    border:0;
    margin:10px;
    font-size:0;
    width:15px;
    height:15px;
}
.carousel .dotsClass li button:before{
    position:absolute;
    top:0;
    left:0;
    width:15px;
    height:15px;
    font-size:15px; 
    content:'•';
    /* content:url(../images/home_icon_scroll_nor.png); */
    color:#000;
    opacity:.25;
}
.carousel .dotsClass li.slick-active button:before{
    content:url(../images/home_icon_scroll_sel.png);
    width:15px;
    height:15px;
    opacity:.75;
}

.gotoNext{
    position:absolute;
    display:block;
    top:calc(45%);
    right:250px;

}
.gotoNext img,.gotoPrev img{
    vertical-align: middle;
}
.gotoPrev{

    position:absolute;
    display:block;
    top:calc(45%);
    left:250px;
    z-index:1
}
/* Home start */
.HomeWrap .carousel .dotsClass{
    position: absolute;
    width:100%;
    text-align: center;
    bottom:70px;
    display: inline-block;
}
.HomeThreeTabs{
    margin-top:-70px;
}
.shade{
    height:6rem;
    overflow: hidden;
    background:#c2c9cf;
    margin-top:20px;
}
.shade .shade_middle{
    position:relative;
}
.shade .shade_middle img{
    width:100%;
    height:100%;
}
.shade .shade_middle .shade_tabs{
    cursor: pointer;
    width:250px;
    height:30px;
    position:absolute;
    top:2.3rem;
    right:8rem;
    border:1px solid white;
    display:flex;
    align-items: center;
    justify-content: center;
}
.shade .shade_middle .shade_tabs div{
    flex:1;
    height:100%;
    line-height:30px;
    text-align: center;
    vertical-align: middle;
    font-size:14px;
}
.Underline{
    height:3rem;
    margin: .5rem 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.Underline span{
    font-size: 1rem;
    display: inline-block;
    height:3rem;
    line-height:3rem;
    margin:0 auto;
    text-align: center;
    border-bottom: 2px solid #118eea;
}
.HomeFourBlocks{
    height:4rem;
    display: flex;
    margin-bottom: .5rem;
}
.HomeFourBlocks .FB{
    background:#f5f6fa;
    border-radius: .3rem;
    flex:1;
    height:4rem;
    line-height: 4rem;
    
    margin-right:0.3rem;

}
.HomeFourBlocks .FB .FBcontent{
    width:8.5rem;
    margin:0 auto;
}
.HomeFourBlocks .FB .FBcontent:after{
    display: block;
    content:'';
    clear: both
}

.HomeFourBlocks .FB .FBcontent div{
    float: left;
    display:table-cell;

}
.HomeFourBlocks .FB img{
    width:2rem;
    vertical-align:middle;

}
.HomeFourBlocks .FB:last-child{
    flex:1;
    margin-right:0;
}
.HomeFourBlocks .FB h1{

    float: right;
    font-family: Microsoft Yahei;
    font-size:1.2rem;
    color:#118eea;
}
.HomePics{
    display: flex;
    flex-flow:wrap;

}
.HomePics .HomePic{
    position: relative;

}
.HomePics .HomePic img{
    width:23.5rem;
    margin-top:.1rem;

}
.HomePics .HomePic:nth-of-type(odd){ margin-right:.3rem;}

.Pic_discript{
    position:absolute;
    width:92%;
    bottom: 3rem;
    left:1rem;
    line-height: 2rem;  
}
.Pic_discript h2{
    color:#118eea;
}
.Pic_discript p{
    line-height: 1rem;
    margin-top:.5rem;
}
.Pic_discript hr{
    width:3rem;
    height:3px;
    border:none;
    border-top:3px solid #118eea;
}
/* 医商云服务开始 */
.Services{
    display: flex;
}

.ServiceText div{
    margin-top:.5rem;
}
.ServiceImg{
    margin-left:2rem;
}
.ServiceImg img{
    width:14rem;
}

.ServiceIntroduce{
    text-align:center;
    padding:1.5rem 0;
    margin-top:1rem;
}
.ServiceIntroduce p{
    line-height: 1rem;
}
.ServiceFooterImg{
    text-align: center;
    padding:1.5rem 0;
    border-top: 1px solid #ccc;
}
/* News start */
.NewsThreeTabs{
    margin-top:10px;
}
.NewsFourBlocks{
    display: flex;
    margin-bottom: 1rem;

}
.NewsFourBlocks .NFB{
    display: flex;
    flex-flow:column;
    padding:1.5rem;
    align-items: center;
    flex:1;
    background:#f5f6fa;
    margin-right:.3rem;
}
.NewsFourBlocks .NFB div{
    padding:1rem;
}
.NewsFourBlocks .NFB img{
    width:4rem;
}
.NewsFourBlocks .NFB hr{
    width:1rem;
    height:2px;
    border:none;
    border-top:2px solid #118eea;
}
.NFB h3,.NFB p,.NFB hr{
    margin-bottom: 1rem;
}
.NFB h3{
    margin-bottom: .5rem;
}
.NewsFourBlocks .NFB:last-child{
    margin-right:0;
}
/* case start */
.CaseThreeBlocks{
    display:flex;
}
.CaseThreeBlocks .CFB{
    padding:2rem 2rem 3rem;
    background:#f5f6fa;
    margin-right:.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center
}
.CaseThreeBlocks div div{
    height:12rem;
    line-height: 12rem;
    margin-bottom: 2rem;
}

.CFBActive{
    padding:2rem 2rem 3rem;
    margin-right:.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    background:#118eea;
    color:white;
}
.CaseThreeBlocks  h2{
    margin-bottom: .5rem;
}
.CaseThreeBlocks .CFBActive h2{
    margin-bottom: .5rem;
    color:white;
}
.CaseThreeBlocks  img{
    width:12rem;
}
.CaseThreeBlocks .CFB:last-child{
    margin-right:0;
}

/* about start */
.AboutfiveBlocks{
    display: flex;
    border-bottom:1px solid #ccc;
    padding:2rem;
    align-items: center;
}
.AboutfiveBlock{
    display: flex;
    flex-flow: column;
    flex:1;
    align-items: center;
}
.AboutfiveBlock div{
    display: flex;

    width:4rem;
    height:4rem;
    border:1px solid #ccc;
    border-radius:4rem;
    margin:auto auto;
    

}
.AboutfiveBlock div img{
    margin:auto auto;
}
.AboutfiveBlock p{
    margin-top:.5rem;
}


/* threeTabs start */

.threeTabs{
    display: flex;
    align-items:center;
    justify-content: center;
    /* border:1px solid red; */
}
.threeTabs .threeTab{
    background: #f5f6fa;

    height:230px;
    margin:2px;
    padding:10px;
    flex:1;
    text-align: center;
    min-width: 0;
}
.threeTabs .threeTabActive{
    background: #118eea;
    height:230px;
    margin:2px;
    padding:10px;
    flex:1;
    text-align: center;
    min-width: 0;
}

.threeTabs .threeTab img{
    width:55px;
    margin-top:30px;
}
.threeTabs .threeTabActive img{
    width:55px;
    margin-top:30px;
}
.threeTabs .threeTabActive h3{
    color:white;
}
.threeTabs .threeTab p{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break:break-all;
    height:100px;
    padding:10px;
    overflow: hidden;
    text-overflow:ellipsis;
    text-align:center;
}

.threeTabs .threeTabActive p{
    color:white;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break:break-all;
    height:100px;
    padding:10px;
    overflow: hidden;
    text-overflow:ellipsis;
    text-align:center;
}



/* .ant-menu-horizontal > .ant-menu-item > a, .ant-menu-horizontal > .ant-menu-submenu > a
{
  display: inline-block !important;
} */


/*Footer******Start*****/
.footerRow{
    display: flex;
    align-items: center;
    background:#f2f2f2;
    height:200px;
}
.footerCenter{
    display: flex;
    align-items: center;

}
.footerCenter div{
    text-align: center;
    flex:1;
    line-height: 20px;
}
.footerCenter div:nth-child(1){
    text-align:right;


}
.footerCenter div:nth-child(3){
    text-align:left;


}
.footerCenter img {
    width:30px;
    margin:20px;
}