@import '~antd/dist/antd.css';
.login a{
    color:#888;
}
.login {
    height:46px;
    line-height: 46px;
    margin-left:20px;
}
.lis {
    border:0;
}

.lis .li{
    border:0;
    color:#888;
    padding:0 10px;
    font-size:14px;
}

.lis .li:hover{
    border:0;
}
.lis .li a:hover{
    color:#118eea;
}

.logoRow{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:6px;
}

.logo{
    display:flex;
    justify-content: center;
    width:100px;
}
.logo img {
    width:50px;
    height:43px;
}
.logo span{
    font-size:24px;
    padding-left:5px;
}

.spaceRight{
    margin-right: 80px
}

/*轮播图开始*/

.carousel{
    width:100%;
    height:350px;
    overflow: hidden;
    position:relative;
}

.carousel .dotsClass{
    position: absolute;
    width:100%;
    text-align: center;
    bottom:10px;
    display: inline-block;
}
.carousel .dotsClass li{
    position: relative;
    display: inline-block;
    cursor: pointer;
   
}
.carousel .dotsClass li button{
    background: 0 0;
    display:block;
    cursor: pointer;
    outline:0;
    border:0;
    margin:10px;
    font-size:0;
    width:15px;
    height:15px;
}
.carousel .dotsClass li button:before{
    position:absolute;
    top:0;
    left:0;
    width:15px;
    height:15px;
    font-size:35px;
    content:'•';
    
    color:#000;
    opacity:.25;
}
.carousel .dotsClass li.slick-active button:before{
    content:url(../images/slick_button.png);
    opacity:.75;
}

.gotoNext{
    position:absolute;
    display:block;
    top:0px;
    right:100px;
    width:50px;
    height:50px;
}



/* .ant-menu-horizontal > .ant-menu-item > a, .ant-menu-horizontal > .ant-menu-submenu > a
{
  display: inline-block !important;
} */


/*Footer******Start*****/
.footerRow{
    display: flex;
    align-items: center;
    background:#f2f2f2;
    height:200px;
}
.footerCenter{
    display: flex;
    align-items: center;
}
.footerCenter div{
    text-align: center;
    flex:1;
    line-height: 20px;
}
.footerCenter div:nth-child(1){
    text-align:right;
    flex:1;

}
.footerCenter div:nth-child(3){
    text-align:left;
    flex:1;

}
.footerCenter img {
    width:50px;
    height:43px;
    margin:20px;
}