@import '~antd/dist/antd.css';
.login a{
    color:#888;
}
.login {
    height:46px;
    line-height: 46px;
    margin-left:20px;
}
.lis {
    border:0;
}

.lis .li{
    border:0;
    color:#888;
    padding:0 10px;
    font-size:14px;
}

.lis .li:hover{
    border:0;
}
.lis .li a:hover{
    color:#118eea;
}

.logoRow{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:6px;
}

.logo img {
    width:30px;
}

.spaceRight{
    margin-right: 80px
}

/*轮播图开始*/

.carousel{
    width:100%;
    height:550px;
    overflow: hidden;
    position:relative;
}
.carousel .banner{
    width:100%;
    height:550px;
}

.carousel .dotsClass{
    position: absolute;
    width:100%;
    text-align: center;
    bottom:10px;
    display: inline-block;
}
.carousel .dotsClass li{
    position: relative;
    display: inline-block;
    cursor: pointer;
   
}
.carousel .dotsClass li button{
    background: 0 0;
    display:block;
    cursor: pointer;
    outline:0;
    border:0;
    margin:10px;
    font-size:0;
    width:15px;
    height:15px;
}
.carousel .dotsClass li button:before{
    position:absolute;
    top:0;
    left:0;
    width:15px;
    height:15px;
    font-size:15px; 
    content:'•';
    /* content:url(../images/home_icon_scroll_nor.png); */
    color:#000;
    opacity:.25;
}
.carousel .dotsClass li.slick-active button:before{
    content:url(../images/home_icon_scroll_sel.png);
    width:15px;
    height:15px;
    opacity:.75;
}

.gotoNext{
    position:absolute;
    display:block;
    top:calc(45%);
    right:250px;

}
.gotoNext img,.gotoPrev img{
    vertical-align: middle;
}
.gotoPrev{

    position:absolute;
    display:block;
    top:calc(45%);
    left:250px;
    z-index:1
}
/* Home start */
.HomeWrap .carousel .dotsClass{
    position: absolute;
    width:100%;
    text-align: center;
    bottom:70px;
    display: inline-block;
}
.HomeThreeTabs{
    margin-top:-70px;
}
.shade{
    height:6rem;
    overflow: hidden;
    background:#c2c9cf;
    margin-top:20px;
}
.shade .shade_middle{
    position:relative;
}
.shade .shade_middle img{
    width:100%;
    height:100%;
}
.shade .shade_middle .shade_tabs{
    cursor: pointer;
    width:200px;
    height:35px;
    position:absolute;
    top:2.3rem;
    right:8rem;
    border:1px solid white;
    display:flex;
    align-items: center;
    justify-content: center;
}
.shade .shade_middle .shade_tabs div{
    flex:1;
    height:100%;
    line-height:35px;
    text-align: center;
    vertical-align: middle;
    font-size:14px;
}
/* News start */
.NewsThreeTabs{
    margin-top:10px;
}
/* threeTabs start */

.threeTabs{
    display: flex;
    align-items:center;
    justify-content: center;
    /* border:1px solid red; */
}
.threeTabs .threeTab{
    background: #f5f6fa;

    height:230px;
    margin:2px;
    padding:10px;
    flex:1;
    text-align: center;
    min-width: 0;
}
.threeTabs .threeTabActive{
    background: #118eea;
    height:230px;
    margin:2px;
    padding:10px;
    flex:1;
    text-align: center;
    min-width: 0;
}

.threeTabs .threeTab img{
    width:55px;
    margin-top:30px;
}
.threeTabs .threeTabActive img{
    width:55px;
    margin-top:30px;
}
.threeTabs .threeTabActive h3{
    color:white;
}
.threeTabs .threeTab p{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break:break-all;
    height:100px;
    padding:10px;
    overflow: hidden;
    text-overflow:ellipsis;
    text-align:center;
}

.threeTabs .threeTabActive p{
    color:white;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break:break-all;
    height:100px;
    padding:10px;
    overflow: hidden;
    text-overflow:ellipsis;
    text-align:center;
}



/* .ant-menu-horizontal > .ant-menu-item > a, .ant-menu-horizontal > .ant-menu-submenu > a
{
  display: inline-block !important;
} */


/*Footer******Start*****/
.footerRow{
    display: flex;
    align-items: center;
    background:#f2f2f2;
    height:200px;
}
.footerCenter{
    display: flex;
    align-items: center;

}
.footerCenter div{
    text-align: center;
    flex:1;
    line-height: 20px;
}
.footerCenter div:nth-child(1){
    text-align:right;


}
.footerCenter div:nth-child(3){
    text-align:left;


}
.footerCenter img {
    width:30px;
    margin:20px;
}